.header {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.pexels.com/photos/981899/pexels-photo-981899.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.title {
  color: bisque;
  font-size: 40px;
  letter-spacing: 1px;
  position: absolute;
  top: 35%;
  left: 8%;
}
span {
  color: aqua;
  font-weight: bolder;
}

nav ul li {
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: beige;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: palevioletred;
  transition: 0.3s;
}
.welcome {
  position: absolute;
  top: 40%;
  left: 8%;
  transform: translateY(-50);
  display: flex;
  color: #fcfc;
}

.about p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  text-align: center;
}

.about {
  background-color: #191919;
}
.about text {
  width: 800px;
}
.about text h2 {
  color: antiquewhite;
  font-size: 80px;
}
.me {
  width: 1130px;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalise;
  margin-bottom: 20px;
}
button {
  background-color: blueviolet;
  color: antiquewhite;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
}
button:hover {
  background-color: transparent;
  border: 3px solid plum;
  cursor: pointer;
}
.contactme {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contactme p {
  color: antiquewhite;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 25px;
}
.contactme .buttonn {
  background-color: blueviolet;
  color: antiquewhite;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
}
.contactme .buttonn:hover {
  background-color: transparent;
  border: 3px solid plum;
  cursor: pointer;
}

/* Footer Styling */
footer {
  background-color: lightgray;
  color: black;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* projects */

.projects {
  background-color: bisque;
}

.projects-heading {
  text-align: center;
  color: var(--text-color2);
  font-size: var(--h2-font);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  /* grid-template-columns: repeat(2,1fr); */
  align-items: center;
  gap: 10rem;
}

.box {
  position: relative;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.box h2 {
  text-align: center;
}

.box p {
  text-align: center;
}
